{% extends 'base.html.twig' %}

{% block content %}

  <!doctype html>
  <html lang="fr">

  <body>
  <div>
    <table class="table container">
      <thead>
        <tr>
          <th scope="col" class="col-md-1">Id</th>
          <th scope="col" class="col-md-3">Genre</th>
          <th scope="col" class="col-md-3">Nom</th>
          <th scope="col" class="col-md-3">Naissance</th>
          <th scope="col" class="col-md-3">Nationalite</th>
          <th scope="col" class="col-md-3">Action</th>


        </tr>
      </thead>

      <tbody>
        {% for personne in personnes %}
          <tr>
            <th scope="row" >{{personne.getId}}</th>
            <td>{{personne.getGenre}}</td>
            <td>{{personne.getNom}}</td>
            <td>{{personne.getNaissance|date('d/m/Y')}}</td>
            <td>{{personne.getNationalite}}</td>
            <td><a href="/personnes"><button type="button" class="btn btn-danger">Supprimer</button></a></td>
            <td><a href="/form/personne/{{personne.getId}}"><button type="button" class="btn btn-warning">Modifier</button></a></td>
            
          </tr>
        {% endfor %}
      </tbody>
  </div>
  </body>
</table>


      {# {% for user in users %}
        {{user.getFirstName}}
        {{user.getLastName}}

      {% endfor %} #}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      

    </body>
  </html>

{% endblock %}